{% extends 'base.template.html'%} 
{%load static %} 
{%block title%}About Us{%endblock%} 
{%block content%}
<div class="container-fluid" id="about_us">
    <div class="row">
        <div class="col-sm-12">
            <h1><strong>About Us</strong></h1>
            <p>TreasureClassicBooks Store was founded with the aim for provided variety collection of Classic Books.
            So, the Classic Books Lover can view and purchase their wish of favourite book from the store.
            The variety of books in the store will be updated from the time to time according to its availability from 
            manufacturers.Hence, Please do sign up an account for complete the process of purchasing the items.
            You can view the catalog of the books in the website or dropby our shop by yourself to pick up a book.</p>
        </div>
    </div>
    <div class="row">
    <!--Locate Us-->
        <div class="col-sm-6" id="about_us_image">
            <h3>Locate Us</h3>
            <p><strong>TreasureClassicBooks</strong></p>
            <p>9 Yong Siak Street<br>
                singapore 168645</p>
            <p>t/+65 62229926</p>
            <a href="https://www.google.com/maps/place/Singapore+168645/@1.2825709,103.8215802,15z/data=!3m1!4b1!4m5!3m4!1s0x31da197a532b0d27:0xd5189fd6ddcf6d98!8m2!3d1.2825709!4d103.830335" >Map</a>
        </div>
    </div>
</div>
{%endblock%}