{% extends 'base.template.html'%} 
{%load static %} 
{%block title%}Terms and Conditions{%endblock%} 
{%block content%}
<div class="container-fluid" id="term_conditions">
    <div class="row">
        <div class="col-sm-12">
            <h1><strong>Terms and Conditions</strong></h1>
            <h6>Terms of Use</h6>
            <p>Welcome to the TreasureClassicBooks website and/or app.</p>
            <p>The term "you" refer to the user who use the Website/ app for purchaseo the Goods.</p>
            <p><strong>Please read these Terms of Use Carefully</strong>.These terms and conditions form a legally binding contract between us and you.
            ,concerning your access to and use of the website and/or app(collectively, the"Site")</p>
            <ol>
                <li><strong>General use of Service and/or access of platform</strong></li>
                    <ul>
                        <li>You agree to comply with any and all the guidelines, notices, operating rules pertaining to the use of the Services and/or access
                        to the platform.</li>
                        <li>If you do not agree with all of these Terms of Use, the you are expressly prohibited from using the Site and you must discontinue use immediately.</li>
                        <li>We reserve the right, in our sole discretion, to make changes or modifications to these Terms of Use at any time and for any reason.</li>
                        <li>Any changes on Terms of Us will be acknowledgeb by updating the "Latest Updated" date of these Terms of Use, and you waive any right to receive
                        specific notice of each such change.</li> 
                        <li>It is your responsibility to periodically review these Terms of Use for latest updates.</li>
                        <li>You will be subject to, and will be deemed to have been made aware of and to have accepted, the changes in the revised Terms of Use with your continued use of the Site
                        after the event of latest Terms of use are posted.</li>
                        <li>The information provided on the Site is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would
                        be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country.</li>
                        <li>The site is intended for users who are at least 18 years old. Those under the age of 18 are not permitted to use or register for the Site.</li>
                    </ul>
                <li><strong>Intellectual Propery Right</strong></li>
                    <ul>
                        <li>The Site is our proprietary property and all source code, database, functionality, software, website design, text, photographs and graphics on the Site(collectively, the"Content"), and the trademarks, 
                        service marks and logos (collectively, the"Mark")contained therein are owned or controlled by us or licensed to us.</li>
                        <li>The Content and Mark are protected by copyright and trademark laws and other intellectual property rights.</li>
                        <li>We reserve all rights not expressly granted to you in and to the Site, the Content and the Mark.</li>
                        <li>For your gained access to use the Site and Content are solely for your personal, non-commencial use.</li>
                    </ul>
                <li><strong>User Representations</strong></li>
                    <ul>
                        <li>All the registration informtion you submit will be true, accurate, current and complete.</li>
                        <li>You have the legal capacity and you agree to comply with these Terms of Use</li>
                        <li>You are not under the age of 18.</li>
                        <li>You will not access the Site throught automated or non-human means, whether through a bot, script or otherwise.</li>
                        <li>You will not use the Site for any illegal or unauthorized purpose.</li>
                        <li>Your use of the Site will not violate any applicable law or regulation.</li>
                        <li>For your input of untrue, inaccurate information, we have the right to suspend or terminate your accound
                        and refuse any and all current or future use of the Site.</li>
                    </ul>
                <li><strong>Products</strong></li>
                    <ul>    
                        <li>We work with effort to make sure that all information on the Website, including descriptions of our Goods, and listed prices, are accurate and correct at all times.</li>
                        <li>If, mistakes do happen. We will try to resolve all information errors on the Website as soon as reasonably possible.</li>
                        <li>If we reasonably think that such an error has affected your purchase of Goods we will try to let you know. However, because we take these steps we will not be liable to you for any errors on the Website.</li>
                    </ul>
                <li><strong>Purchase and Payment</strong></li>
                    <ul>
                        <li>An Verification account required to make purchase of our products.</li>
                        <li>Sales Tax will be added to the price of purchase.</li>
                        <li>We reserve the right to limit or prohibit orders that, in our sole judgement, appear
                        to by placed by dealers, resellers, or distributors.</li>
                        <li>You agree to provide current, complete and accurate purchase and account information for all purchases made via the Site.</li>
                        <li>All sales are final and no refund will be issue.</li>
                    </ul>
                <li><strong>Collection of Personal Data</strong></li>
                    <ul>
                        <li>The TreasureClassicBooks protects the privacy of every customer.</li>
                        <li>We value your trust in providing us your Personal Information, thus we are striving to use commercially acceptable means of protecting it.</li>
                        <li>Hence,do remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</li>
                    </ul>   
            </ol>
        </div>
    </div>
</div>
{%endblock%}