body, html {
  margin: 0;
  height: 100%;
  background-color: rgb(252, 186, 3,0.09)
}

/*nav-link color*/
.nav-link{
  color:#6B8E23!important;
}
/*navbar*/
.navbar-nav{
  margin-left: auto; 
  
}
/*navbar message*/
.alert-success {
    font-size: smaller;
}
/*footer*/
.page-footer{
    text-align: left;
    margin : 20px 0 20px 0;
    font-size: 1rem;
    
}
.footer-copyright{
    text-align: center;
    font-size: 1rem;
}
/*footer -connect link*/
.media{
    flex-direction: column;
    color: rgb(99, 138, 21);
}
.fab{
    color: rgb(99, 138, 21);
    font-size:38px;
}
/*home page*/
#home{
    position: relative;
    height: 100vh;
    color:white;
    background-image:url("/static/images/bg-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*home center banner*/
#home .banner-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    padding: 200px 50px 0px 50px;
}

/*home h1*/
.banner-text h1{
    font-size: 2.7rem;
    background: linear-gradient(180deg,rgba(255,255,255,0) 0%, rgb(53, 116, 53,0.99) 100%);
  
}
/*home p*/
.banner-text p{
    font-size: 1.3rem;
    background: linear-gradient(180deg,rgba(255,255,255,0) 0%, rgb(53, 116, 53,0.99) 100%);
}
/*home -button css*/
.btn-area{
    display: inline-block;
    border:none;
    background-color:rgba(255, 255, 255, 0.815);
    color:#6B8E23;
    padding:12px 24px;
    margin-top:16px;
    text-decoration: none;
    transition: opacity 0.4s ease;
}
/*effect when mouse on button*/
.btn-area:hover{
    background-color: #FFDAB9;
    color:brown;
}
/*home banner-book*/
#home .banner-books{
    padding-top: 100px;
    align-items: center;
    text-align:left;   
}
/*popular books cards css*/
.banner-books-image{
    overflow: scroll;
    width:100%;
    height: 72vh;
    padding-right:20px;
}
.banner-books-image-content{
    display: flex;
    flex: 0.8 0.6 auto;
    background-color: #FFDAB9;
    height: 72vh;
}
.banner-books-image-content img{
    width:50%;
}
.banner-books-image-content p{
    width:50%;
    color:#6B8E23;
    padding: 50px 10px 0px 10px;
    font-size:1.3rem;
}
/*all books page*/
#allbooks{
    color:#172d33;
    height: 100vh;
    background-image:url("/static/images/all_books.png");
    background-position: top; 
    background-repeat: no-repeat;
    background-size: 95% 71%;
    background-color: white;
    
}
/*search book css*/
#book-search{
    padding: 60px 50px 0px 50px;
    font-weight: bold;
}

/*list all book css*/
#book-list{
    padding:0px 50px 0px 50px;
    
}
.card {
  width:100%;
  height: 48vh;
  margin: 1px;
  
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

}

.card-body {
  border-radius: 5px;
  background: transparent;
  padding:12px 8px 8px 8px;
  flex: 0 0 auto;
}
.card-body img{
    width: 250px;
    height: 30vh;
}
.scrolling-wrapper, .scrolling-wrapper-flexbox {
  width: 100%;
}
.card-text{
    text-align: left;
    font-size: 0.9rem;
    font-weight: bold;
    width: 250px;
}

/* Create book*/
#create_book{
    padding:10px;
    color:#3d6388;
    background-color: white;
}
/*Create book-form css*/
#create_book_form{
    padding: 60px 200px 20px 200px;
    background-image:url("/static/images/create_books.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% 99%;

}
#create_book_form .form-control {
    border: 3px solid #3d6388;
    color:#3d6388;
}
/*view books page*/

#view_book{
    padding-top:100px;
    height: 100vh;
    color:	#A9565E;
    background-image:url("/static/images/view_books.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-color: white;
    
}
/*book image column*/
#book-image img{
    height: 55vh;
    width: 70%;
}
/*book details column*/
#book-details{
    font-size: 1rem;
    padding-top:8px;
    padding-left: 25px;
    border-radius: 5px;
    
}

/*update book page*/
#update_book{
    padding:10px;
    color:#E07F1F;
    background-color: white;
}

/*update book-form css*/
#update_book_form{
    padding: 60px 200px 20px 200px;
    background-image:url("/static/images/edit_books.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 50% 30%;

}
#update_book_form .form-control {
    border: 3px solid #E07F1F;
    color:black;
}
/*delete book page*/
#delete-book{
    padding: 100px;
    font-size: 2rem;
    text-align: center;
    height: 100vh;
    background-color: white;
}

/*all author page*/

#allauthors{
    color:#8B008B;
    box-sizing: border-box;
    height: 100vh;
    overflow: scroll;
    background-color: white;
}  

/*all author banner css*/
#author-banner{
    padding: 60px 20px 0px 20px;
}
/*list of all author css*/
#author-list{
    margin:5px 5px;
}
/*clear floats after the column*/
#author-list::after{
    content:"";
    display: block;
    clear: both;
}
/*float by four columns side by side*/
.column-author{
    float: left;
    width:20%;
    padding: 5px 5px;
}
/*style the card*/
.card-author{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 8px;
    height: 100px;
    text-align: center;
    background-image: url("/static/images/author_list.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*card h3*/
.card-author h3{
    float: right;
    width: 50%;
    font-size: 1.3rem;
    padding: 12px 0 0 0;
    text-align: center;
}
/* Create author*/
#create_author{
    padding:10px;
    background-color: white;
}
/*create author form*/
#create_author_form{
    padding: 60px 250px 20px 250px;
    background-image:url("/static/images/create_author.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}
#create_author_form .form-control {
    border: 3px solid #528DAD;
    color:#528DAD;
}
/*update author page*/
#update_author{
    padding:10px;  
    color:#1B5006;
    font-weight: bold;
    background-color: white;
}

/*update book-form css*/
#update_author_form{
    padding: 60px 200px 20px 200px; 
    background-image:url("/static/images/edit_author.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 99% 98%;  
    color:#18E7D2;
}
#update_author_form .form-control {
    border: 3px solid#1B5006;
    color:black;
}
/*view authors page*/
#view_author{
    padding-top: 100px;
    background-image:url("/static/images/view-authors.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 93% 53%;
    color:#8B008B;;
    height: 100vh;
    background-color: white;
    
}
/*view author image*/
#author-image img{
    height: 55vh;
    width: 60%;
}

/*view author details*/
#author-details{
    font-size: 1rem;
    padding: 18px;
    border-radius: 5px;
}

#author-details p{
    padding-top: 18px;
}

#author-details ul{
    list-style-type: circle;
    padding-left:18px;
}
/*delete author page*/
#delete-author{
    padding: 100px;
    font-size: 2rem;
    text-align: center;
    height: 100vh;
    background-color: white;
}

/*view cart page*/
#cart{
    padding:60px;
    height: 100vh;
    color:#1ECBE1;
    display: flex;
    flex-direction: column;
    background-color: white;
}
/*cart basket outline*/
#cart-basket{
    width: 80%;
    height:80%;
    overflow: scroll;
}
/*list of cart item*/
.cart_item{
    padding:10px;
    height: 25vh;
    display: flex;
    
}
.cart_item:nth-child(n){
    border:1px solid #1ECBE1;
}
/*cart img*/
#cart img{
    padding-top: 10px;
    height: 100%;
    width: 50%;
}
.item-image{
    margin:0;
    padding-top:20px;
    width:25%;
    display: flex;
    flex-direction: column-reverse;
}
/*item details*/
.item-title{
    width:25%;
    
}
.item-title p{
    display:block;
    padding-top:20px;
    font-size: 1rem;
    color:#1ECBE1;
    font-weight:bold;
}
/*item quantity*/
.item-quantity{
    width:25%;
    padding-top:20px;
    
}

/*item total cost*/
.total-cost{
    width:25%; 
}
.total-cost p{
    display:block;
    padding-top:20px;
    font-size: 1rem;
    color:#1ECBE1;
    font-weight:bold;
}

.cart-right{ 
    padding:10px 0 0 0;
    width: 35%;
    font-weight:bold;
    font-size: 1.5rem;
    background-image:url("/static/images/cart.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 70% 99%;  
}
.cart-right ul{
    list-style: none;
    text-align: justify;

}

/*info page*/

/*term and conditions */
#term_conditions{
    padding:60px;
    background-color: white;
    color:#3d6378;
}

/*about us*/
#about_us{
    padding:60px;
    background-color: white;
    color:#3d6378;
    height: 100vh;
}

#about_us_image{
    background-image:url("/static/images/about_us.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 70% 90%;
    height: 50vh;
}

/*contact us*/
#contact_us{
    padding:60px;
    background-color: white;
    color:#3d6378;
    
}

/*contact us form*/
#contact_us_form{
    padding: 0px 200px 20px 200px;
}
#contact_us_form .form-control {
    border: 3px solid #3d6378;
}