*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    line-height:1.4;
}

#right-nav{
    color:white;
    padding-right: 155px;
    
}
#right-cart{
   color:white;
   font-size:1.6rem;
   background: linear-gradient(180deg,rgba(255,255,255,0) 0%, rgb(53, 116, 53,0.99) 100%);
}
.wrapper{
    max-width: 1000px;
    margin:auto;
    overflow: hidden;
    padding:5px;

}
#home{
    height: 100vh;
    position: relative;
    color:white;
    background-image:url("/static/images/bg-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home .banner-text{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    height:100%;
}
.banner-text h1{
    font-size: 2.7rem;
    background: linear-gradient(180deg,rgba(255,255,255,0) 0%, rgb(53, 116, 53,0.99) 100%);
  
}

.banner-text p{
    font-size: 1.3rem;
    background: linear-gradient(180deg,rgba(255,255,255,0) 0%, rgb(53, 116, 53,0.99) 100%);
}
/*button css*/
.btn-area{
    display: inline-block;
    border:none;
    background-color:rgba(255, 255, 255, 0.815);
    color:brown;
    padding:12px 24px;
    margin-top:16px;
    text-decoration: none;
    transition: opacity 0.4s ease;
}
.btn-area:hover{
    opacity: 0.8;
}

/* navigation*/
.nav-area{
    position:fixed;
    top:0;
    right:0;
    z-index:1;
}
.nav-area .books-menu{
    position: absolute;
    top:50px;
    right:100px;
    z-index: 2;
    cursor: pointer;
    width:50px;
    height:50px;
    opacity:0;
}

.nav-area .nav-icon{
    position: absolute;
    top:50px;
    right:100px;
    z-index: 1;
    width:50px;
    height:50px;
    padding:16px;
    background-color:rgba(255, 255, 255, 0.815);
    display:flex;
    align-items: center;
    justify-content: center;
}
.nav-area .nav-icon > div{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s ease;
    position:  relative;
    width: 100%;
    height:2px;
    background-color: brown;
}
.nav-area .nav-icon > div::before,
.nav-area .nav-icon > div:after{
    content:'';
    position: absolute;
    z-index: 1;
    top:-8px;
    width: 100%;
    height:2px;
    background-color: brown;
}
.nav-area .nav-icon > div:after{
    top:8px;
}
.nav-area .books-menu:checked+ .nav-icon>div{
    transform: rotate(135deg);
}
.nav-area .books-menu:checked+ .nav-icon>div:before,
.nav-area .books-menu:checked+ .nav-icon>div:after{
    top:0;
    transform: rotate(90deg);

}
.nav-area .books-menu:checked:hover+ .nav-icon>div:{
    transform: rotate(225deg);
}

.nav-area .books-menu:checked ~ .nav-menu{
    visibility: visible;

}
.nav-area .books-menu:checked ~ .nav-menu >div{
    transform:scale(1);
    transition-duration: 0.8s;
}

.nav-area .books-menu:checked ~ .nav-menu >div>div{
    opacity: 1;
    transition:opacity 0.5s ease;
}

.nav-area .nav-menu{
    display: flex;
    align-items:center;
    justify-content: center;
    position: fixed;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
}
.nav-area .nav-menu > div{
    display: flex;
    flex:none;
    align-items:center;
    justify-content: center;
    transform: scale(0);
    transition:0.5s ease;
    background:rgba(222,183,135, 0.98);
    border-radius: 50%;
    width: 200vw;
    height: 200vh;
}

.nav-area .nav-menu >div >div{
    text-align: center;
    max-width: 90vw;
    max-height:100vh;
    opacity: 0;
    transition:opacity 0.5s ease;
}
.nav-area .nav-menu >div >div >ul>li{
    list-style: none;
    color:brown;
    font-size: 24px;
    padding: 16px;
}
.nav-area .nav-menu >div >div >ul>li>a{
    color:inherit;
    text-decoration: none;
    transition : color 0.5s ease;
}

/*all books page*/
#allbooks{
   background-color: #b8cece;
    height: 100vh;
    color:#6991c7;
   
}

form{
    padding-top:1rem;
}

.card {
  width:100%;
  margin-top: 15px;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

    .card-body {
    flex: 0 0 auto;
  }
}

.card-body {
  padding: 5px 8px;
  margin: 8px;
  border-radius: 5px;
  background: transparent;
}
.card-body img{
    width: 350px;
    height: 60vh;
}
.scrolling-wrapper, .scrolling-wrapper-flexbox {
 
  width: 100%;
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    display: none;
  }
}
#allbooks .container{
    margin-top: 10px;
}

.card-text{
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
}

/* Create book*/
#create_book{
    padding:10px;
    background-image: linear-gradient(to bottom, #6a85b6 0%, #bac8e0 100%);
}
/*view books page*/
#book-image img{
    height: 55vh;
}

#view_book{
    padding-top:100px;
    background-image:url("/static/images/book_details.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color:	black;
    
}
#book-details{
    font-size: 1rem;
    padding-top:8px;
    padding-left: 25px;
    border-radius: 5px;
}


/*update book page*/
#update_book{
    padding:10px;
    background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}
/*delete book page*/
#delete-book{
    padding: 100px;
    font-size: 2rem;
    text-align: center;
}

/*all author page*/

#allauthors{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    height: 100vh;
    color:#6991c7;
   
}
.card-body-author img{
    width: 500px;
    height: 65vh;
}

.card-body-author {
  padding: 5px 8px;
  margin: 8px;
  border-radius: 5px;
  background: transparent;
  text-align: center;
}
.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

    .card-body-author {
    flex: 0 0 auto;
  }
}

.card-author {
  width:100%;
  margin-top: 15px;
}

/* Create author*/
#create_author{
    padding:10px;
    background-image: linear-gradient(to bottom, #6a85b6 0%, #bac8e0 100%);
}

/*update author page*/
#update_author{
    padding:10px;
    background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

/*view authors page*/
#author-image img{
    height: 55vh;
    width: 80%;
}

#view_author{
    padding-top:100px;
    background-image:url("/static/images/author_details.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:	black;
    height: 100vh;
    
}
#author-details{
    font-size: 1rem;
    padding: 18px;
    border-radius: 5px;
}

#author-details p{
    padding-top: 18px;
}

#author-details ul{
    list-style-type: circle;
    padding-left:18px;
}
/*delete author page*/
#delete-author{
    padding: 100px;
    font-size: 2rem;
    text-align: center;
}


/*view cart page*/
#cart img{
    height: 20vh;
    width: 30%;
}

#cart{
    background-color:#5cb8a1;
    height: 100vh;
    color:#003636;
}