{% extends 'base.template.html'%} 
{%load static %} 
{% load cloudinary %}
{%block title%}All Books{%endblock%} 
{%block content%}
<div id="allbooks">
    <div class="container">
            <h1>List of Available Books</h1>
            <smalll>Scroll to right for view more</smalll>
            <br/>
                <div class="card">
                    <div class="scrolling-wrapper-flexbox">
                        {%for book in books%}
                       <div class="card-body">
                            <img src="{{book.image}}" class="card-img" alt="...">
                            <div class="card-text">
                                <p><a href="{% url 'view_book' book_id=book.id %}">{{book.title}}</a> </p> 
                                <p>By {{book.authors}}</p>
                                <p>${{book.cost}}    <a class="btn btn-primary btn-sm" href="{% url 'add_cart' book_id=book.id%}">Add to Cart</a></p>  
                            </div> 
                        </div>
                        {%endfor%} 
                    </div>
                </div>  
    </div>
</div>

{%endblock%}