{% extends 'base.template.html'%} 
{% load cloudinary %}
{%load static %} 
{%block title%}All Authors{%endblock%} 
{%block content%}
<div id="allauthors">
    <div class="container" >
            <h1>List of Authors</h1>
            <smalll>Scroll to right for view more</smalll>
            <br/>
                <div class="card-author">
                    <div class="scrolling-wrapper-flexbox">
                        {%for author in authors%}
                        <div class="card-body-author">
                            <img src="{{author.image}}" class="card-img" alt="...">
                            <h2><a href="{% url 'view_author' author_id=author.id %}">{{author.last_name}} {{author.first_name}}</a></h2>
                        </div>
                        {%endfor%} 
                    </div>
                </div>
        
    </div>
</div>
{%endblock%}