{% extends 'base.template.html'%} 
{%load static %} 
{%block title%}All Authors{%endblock%} 
{%block content%}
<div class="container-fluid" id="allauthors">
    <div id="author-banner">
        <h1>List of Authors : {{ number_of_authors}}</h1>
        <div class="row" id="author-list">
            {%for author in authors%}
            <div class="column-author">
                <div class="card-author">
                    <h3><a href="{% url 'view_author' author_id=author.id %}" style="color:#8B008B">{{author.last_name}} {{author.first_name}}</a></h3>
                </div>
            </div>
            {%endfor%} 
            
        </div>
    </div>
</div>
{%endblock%}