{% extends 'base.template.html'%} 
{%load static %} 
{%block title%}All Books{%endblock%} 
{%block content%}
<div id="allbooks">
    <div class="container">
        <div class="row">
            <h1>List of Available Books</h1>
            <ul>
                {%for book in books%}
                <li>
                    {{book.title}}
                    <a class="btn btn-primary btn-sm" href="{% url 'update_book' book_id=book.id %}">Update</a>
                    <a class="btn btn-primary btn-sm" href="{% url 'delete_book' book_id=book.id %}">Delete</a>
                </li>   
                {%endfor%} 
            </ul>
        </div>
    </div>
</div>
{%endblock%}