{% extends 'base.template.html'%} 
{%load static %} 
{% load cloudinary %}
{%block title%}All Books{%endblock%} 
{%block content%}
<div id="allbooks">
    <div class="container">
            <h1>List of Available Books</h1>
            <br/>
                <div class="card">
                    <div class="scrolling-wrapper-flexbox">
                        {%for book in books%}
                       <div class="card-body">
                            {% cloudinary book.cover %}
                            <p class="card-text">{{book.title}}</p>
                            <a href="{% url 'view_book' book_id=book.id %}">Details</a>
                            <a class="btn btn-primary btn-sm" href="{% url 'update_book' book_id=book.id %}">Update</a>
                            <a class="btn btn-primary btn-sm" href="{% url 'delete_book' book_id=book.id %}">Delete</a>
                            <a class="btn btn-primary btn-sm" href="#">Add to Cart</a>
                        </div>
                        {%endfor%} 
                    </div>
                </div>  
    </div>
</div>

{%endblock%}