{% extends 'base.template.html'%} 
{% load cloudinary %}
{% load crispy_forms_tags %}
{%load static %} 
{%block title%}Book - Update {%endblock%} 
{%block content%}
    <div class="container" id="update_book">
        <h1>Update Book </h1>
        <a class="btn btn-info btn-sm" href="{% url 'books' %}">Back</a>
        <form method="POST">
            {%csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="Update Book" class="btn btn-primary btn-sm"/>
        </form>
    </div>

       
{%endblock%}