{% extends 'base.template.html'%} 
{% load cloudinary %}
{% load crispy_forms_tags %}
{%load static %} 
{%block title%}Author - Update{%endblock%} 
{%block content%}
    <div class="container" id="update_author">
        <h1>Update info about {{author.last_name}}  {{author.first_name}}</h1>
        <a class="btn btn-info btn-sm" href="{% url 'all_authors' %}">Back</a>
        <form method="POST">
            {%csrf_token %}
            {{ form|crispy }}
            <input type="submit" name="Update Author" class="btn btn-primary btn-sm"/>
        </form>
    </div>

{%endblock%}