{% extends 'base.template.html'%} 
{%load static %} 
{%block title%}Book - {{book.title}}{%endblock%} 
{%block content%}
<div id="view_book">
    <div class="container" >
        <div class="row">
            <div class="col-sm-6" id="book-image">
                <h2>{{book.title}}</h2>
                <h3>{{book.authors}}</h3>
                <h6>Cost : ${{book.cost}}</h6>
                <img src="{{book.image}}" class="card-img" alt="...">
            </div>
            <div class="col-sm-6" id="book-details">
                <a class="btn btn-info btn-sm" href="{% url 'books' %}">Back</a>
                <a class="btn btn-primary btn-sm" href="#">Add to Cart</a>
                {% if user.is_authenticated and user.is_superuser %}
                <a class="btn btn-primary btn-sm" href="{% url 'update_book' book_id=book.id %}">Update</a>
                <a class="btn btn-danger btn-sm" href="{% url 'delete_book' book_id=book.id %}">Delete</a>
                {% endif %}
                <span id="starRating"></span> <small>{{ average_ratings }} </small> 
                <p><strong>Published</strong> : {{book.published}}</p>
                <p><strong>ISBN</strong> : {{book.ISBN}}</p>
                <p><strong>length</strong> : {{book.length}} pages</p>
                <p><strong>Quotes</strong> : <br>
                <em>{{book.quotes}}</em></p>
                <p><strong>Descriptions</strong> : <br>
                {{book.desc}}</p>
            
            
            </div>
        </div>
    </div>
</div>

{%endblock%}