{% extends 'base.template.html'%} 
{%load static %} 
{%block title%}Author - {{author.last_name}} {{author.first_name}} {%endblock%} 
{%block content%}
<div id="view_author">
    <div class="container" >
        <div class="row">
            <div class="col-sm-6" id="author-image">
                    <h2>{{author.last_name}} {{author.first_name}}</h2>
                    <img src="{{author.image}}" class="card-img" alt="...">
            </div> 
            <div class="col-sm-6" id="author-details">   
                    <a class="btn btn-info btn-sm" href="{% url 'all_authors' %}">Back</a>
                    {% if user.is_authenticated and user.is_superuser %}
                    <a class="btn btn-primary btn-sm" href="{% url 'update_author' author_id=author.id %}">Update</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'delete_author' author_id=author.id %}">Delete</a>
                    {% endif %}
                    <p><strong>Biography</strong> :<br>
                    <em>{{author.biography}}</em></p>
                    <p><strong>Books: </strong></p>
                    {%for b in books %}
                        <ul>
                            <li>{{b.title}}</li>
                        </ul>
                    {%endfor%}
                        
                    
            </div>
        </div>
    </div>
</div>
{%endblock%}